@{
    ViewData["Title"] = "Inicio";
}

<body>
    <div class="container-xxl hero-header mb-5">
        <div class="container my-5 py-5 px-lg-5">
            <div class="row g-5 py-5">
                <div class="col-lg-6 text-center text-lg-start">
                    <h1 class="text-gray mb-4 animated zoomIn">Generador de Scanner</h1>
                    <p class="text-gray pb-3 animated zoomIn">Creacion del escaner que analiza un programa identificando los tokens que se utilizaron </p>
                    <a asp-controller="Home" asp-action="Automata" class="btn btn-outline-dark py-sm-3 px-sm-5 rounded-pill animated slideInRight">Crear Automata</a>
                </div>
                <div class="col-lg-6 text-center text-lg-start">
                    <img class="img-fluid" src="https://quizizz.com/media/resource/gs/quizizz-media/quizzes/6363b040-7d70-45c0-9459-f2dda9547a94" alt="">
                </div>
            </div>
        </div>
    </div>
     
            <div class="card text-center" style="margin-top:50px;">
                <div class="card-header">Respuesta del crear escaner</div>
                <div class="card-body">
                <h5 class="card-title">Resultado</h5>
                <p class="card-text"></p>
                </div>
            </div>
         </div>
    </div>

</body>
